body {
    text-align: center;
    background-image: url("https://www.funbrain.com/assets/img/content-cards/F2qRmLhRnmebc8jJAUjr_GuessTheNumber%403x.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: serif;
}

h1 {
    margin: 60px auto;
    font-weight: 700;
    font-size: 32px;
}

#res {
    font-weight: 700;
    font-size: 24px;
}

#count {
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    h1 {
        margin: 10px auto 20px;
        font-size: 20px;
    }
    #res {
        margin-top: 25vh;
        font-weight: 700;
        font-size: 16px;
    }
    #count {
        /* margin-top: 300px; */
        font-weight: 400;
        font-size: 12px;
    }
}